/.idea/.gitignore
/.idea/CryptoExchange.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.gradle/
/.idea/
/gradle/wrapper/
/gradlew
/gradlew.bat
/api-v1-jackson/build/
/crypto-transport-main-openapi-v1/build/
/crypto-common/build/
**/build/
